.github/
.vscode/
*/.venv/
**/__pycache__/
**/*.egg-info/
**/uv.lock
*/.coverage
deploy/*-secret.yaml
local_cache/
pyvenv.cfg
api/public_suffix_list.dat
api/named.cache
api/serverconfig/*.crx
api/TEST*
